head
	link(rel='stylesheet' href='css/createGame.css')
	script(src="/socket.io/socket.io.js")
	script(src='script/createGame.js')

html(lang='en')
	body
		button(class="createButton" onClick="createGame()") CREATE NEW GAME
