head
	link(rel='stylesheet' href='css/createGame.css')
	script(src="/socket.io/socket.io.js")

html(lang='en')
	body
		form(method='post' action='/create')
			input.createButton(type='submit' value='CREATE NEW GAME')
