head
	script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
	script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js')
	link(rel='stylesheet' href='views/css/game.css')
html(lang='en', ng-app='polls')
	body