head
	link(rel='stylesheet' href='css/game.css')
	link(rel='stylesheet' href='css/hexagons.css')
	script(src="/socket.io/socket.io.js")
	script(src="script/snap.svg-min.js")
	script(src="script/tinycolor-min.js")
	script(src="script/svg-hexagon.js")
	script(src="http://code.jquery.com/jquery-1.11.0.min.js")
	script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
	script(src='script/svgUtils.js')
	script(src='script/game.js')
	script(src='script/stashes.js')
	script(src='script/hexagons.js')
	script(src='script/roads.js')
	script(src='script/cities.js')
	script(src='script/turns.js')
	script(src='script/cards.js')
	script(src='script/tradePanel.js')
	script(src='script/resources.js')

html(lang='en')
	body
		svg(id="board", height="1200", width="1200")