body {
	background-image: url("../img/startupplank.jpg");
}

.board {
	margin-right: auto;
	margin-left: auto;
	width: 800px;
	height: 800px;
	margin-top: 170px;
	position: relative;
}

.road {
	position:absolute;
	width:10px;
	height:45px;
	background:blue;
}

.horizontal {
	width:55px;
	height:8px;
}