body {
	background: url("../img/startupwater.jpg") center center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#refLink {
	font-size: 50px;
	display:block;
	margin-top: 250px;
	padding-left: 40%;
}